html {
    box-sizing: border-box;
}

*, ::before, ::after {
    box-sizing: inherit;
}

.body {
    font-family: "Lato", sans-serif;
    line-height: 1.5;
    border: 5px solid rgb(20, 55, 85);
    border-radius: 30px;
    color: rgb(20, 55, 85);
    max-width: 1000px;
    margin: auto;
}

.valueScore {
    margin: auto;
    padding: 10px;
    border: 1px solid rgb(20, 55, 85);
    border-radius: 30px;
    background-color: rgba(204, 218, 231, 0.514);
}